a{
    font-family: $font-primary;
    color: $color-third;
    cursor: pointer;
    &:hover{
        color: initial;
        text-decoration: none;
    }
}
ul{
    padding-left: 0;
    li{
        list-style: none;
    }
}
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ffffff;
}
::-webkit-scrollbar
{
    width: 3px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb
{
    background-color: #9999997a;
    border-radius: 10px;
    border: 1px solid #9999997a;
}

.i-con{
    color: #000;
    display: inline-block;
}

.row-8{
    margin: 0 -8px;
    .col-style{
        padding: 0 8px;
    }
}

.row-4{
    margin: 0 -4px;
    .col-style{
        padding: 0 4px;
    }
}

// input[type=text], input[type=password]{
//     border: none;
//     background-color: transparent;
//     outline: none;
//     width: 100%;
//     margin-bottom: 8px;
//     height: 40px;
//     &::placeholder{
//         color: #e0e0e0;
//     }
//     &.border-grey{
//         border-bottom: 1px solid #dddddd;
//     }
//     &.border-gradient{
//         color: rgba($color-sixth, 0.8);
//         border-image-source: linear-gradient(135deg, #0e49c1 0%, #1390e0 100%);
//         border-bottom: 1px solid;
//         border-image-slice: 1;
//         &::placeholder{
//             color: rgba($color-sixth, 0.5);
//         }
//     }
// }

.form-input{
    height: 60px;
    background-color: #fbfbfc;
    width: 100%;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    @include border-radius(3px);
    border: 1px solid #e0e0e0;
    box-shadow: none;
    color: #353942;
    // font-family: $font-seventh;
    font-size: $font-size-big;
    line-height: 18px;
    &:focus{
        background-color: $color-second;
        border: solid 1px $color-third;
    }
    &.error{
        border: solid 1px rgba($red,1);
    }
    &::placeholder {
        color: #bebebe;
    }
    &.medium{
        height: 48px;
    }
}
.form-btn{
    text-transform: uppercase;
    cursor: pointer;
    @include border-radius(100px);
    background-color: $color-third;
    border: 1px solid $color-third;
    font-family: $font-third;
    font-size: $font-size-normal;
    font-weight: 700;
    line-height: 1.33;
    text-align: center;
    color: $color-second;
    height: 40px;
    width: 100%;
    outline: none !important;
    margin-top: 15px;
    transition: .5s;
    &:hover,&:focus,&:active{
        background-color: $color-second ;
        border-color: $color-third ;
        color: $color-third;
    }
    &.small{
        height: 24px;
        font-size: 9px;
        width: auto;
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 0;
        font-family: $font-second;
        font-weight: 500;
        line-height: 24px;
    }
    &.grey{
        background-color: rgba($gray, 0.5);
        border: 1px solid rgba($gray, 0.1);
        color: $gray-dark;
        &:hover,&:focus,&:active{
            background-color: $color-second ;
            border-color: $gray ;
            color: $gray-dark;
        }
    }
    &.white{
            background-color: $color-second ;
            border-color: $gray ;
            color: $gray-dark;
        &:hover,&:focus,&:active{
            background-color: rgba($gray, 0.5);
            border: 1px solid rgba($gray, 0.1);
            color: $gray-dark;
        }
    }
    &.red{
        background-color: $red;
        border: 1px solid $red;
        &:hover,&:focus,&:active{
            background-color: $color-second ;
            border-color: $red ;
            color: $red;
        }
    }
    &.medium{
        font-family: $font-sixth;
        font-size: $font-size-big;
        text-transform: capitalize;
        font-weight: normal;
    }
    &.large{
        // font-family: $font-eighth;
        font-size: $font-size-small;
        font-weight: normal;
        text-transform: uppercase;
        height: 50px;
        max-width: 213px;
        margin: auto;
    }
    &.current{
        cursor: not-allowed;
        background-color: #ffffff !important;
        border: 1px solid $color-third !important;
        color: #4a4a4a !important;
    }
    &.cancel{
        background-color: #4a494a;
        border-color: #4a494a;
        &:hover{
            background-color: #ffffff;
            color: #4a494a;
        }
    }
}

.btn-normal{
    color: $color-primary;
    font-family: $font-primary;
    font-size: 13px;
    font-weight: normal;
    padding: 8px 12px;
    @include border-radius(3px);
    border: 1px solid #dcdcdc;
    background-color: transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
    height: 36px;
    display: inline-block;
    vertical-align: top;
    min-width: 112px;
    text-align: center;
    margin-left: 6px;
    @include transition(all, 0.2s, ease);
    cursor: pointer;
    &:hover{
        background-color: $color-third;
        color: #ffffff;
        border-color: $color-third;
    }
    &:first-child{
        margin-left: 0;
    }
    &.btn-white{
        color: #606266;
        border: 1px solid #dcdfe6;
        background-color: #ffffff;
    }
    &.btn-disable{
        pointer-events: none;
        opacity: 0.5;
    }
    &.btn-red{
        &:hover{
            background-color: #f65c5c;
            border-color: #f65c5c;
        }
    }
    &.btn-green{
        border-color:#36c5d3;
        background-color: #36c5d3;
        color: #fff;
        &:hover{
            border-color: $color-second;
            background-color: $color-second;
        }
    }
}

.btn-play{
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    &:focus{
        outline: none;
    }
    &::before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        border-top: 8px solid transparent;
        border-left: 9px solid rgba(#262c3a, 0.5);
        border-bottom: 9px solid transparent;
        transition: 0.5s ease;
    }
    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 17px;
        top: 50%;
        transform: translateY(-50%);
        border-top: 6px solid transparent;
        border-left: 7px solid #fff;
        border-bottom: 7px solid transparent;
        transition: 0.5s ease;
    }
    &:hover{
        &::before, &::after{
            border-left-color: $color-second;
        }
    }
}

.btn-pause{
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
    &:focus{
        outline: none;
    }
    &::before{
        content: '';
        background-image: url("/images/triangle.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 16px;
        width: 11px;
        display: block;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        transition: background-image 0.5s ease;
    }
    &:hover{
        &::before{
            background-image: url("/images/triangle-red.svg");
        }
    }
}
.border-video{
    border: 1px dashed rgb(142, 138, 138);
}

.main-content{
    height: 100vh;
    overflow: hidden;
    font-family: $font-primary;
    font-size: $font-size-normal;
    background-color: $color-second;
    .col-left{
        float: left;
        height: 100%;
        width: 190px;
    }
    .col-right{
        overflow-y: auto;
        height:100%;
        // padding: 48px 40px;
        width: calc(100% - 190px);
        // transition: 0.4s linear;
        background-color: #f0f2f5;
        &::-webkit-scrollbar-track{
            background-color: $color-third;
        }
        &.collapsed{
            // width: calc(100% - 608px);
            &.show{
                // width: calc(100% - 856px);
            }
        }
    }
}
.content-menu{
    height: 100%;
    width: 100%;
    padding: 0 20px;
    .logo {
        margin: 5px 0 40px;
    }
}
.blank-page{
    height: 100vh;
    .banner-left{
        background-image: url('/images/bg-login.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 500px;
        padding: 63px 130px 73px 70px;
        color: $color-second;
    }
    .content-right{
        width: calc(100% - 500px);
    }
}
.menu-left{
    .item-menu{
        padding: 10px 0;
        &:not(:last-child){
            margin-bottom: 12px;
        }
        &:hover{
            a{
                color: $color-third;
            }
            i{
                color: $color-primary;
            }
        }
        .nuxt-link-exact-active{
            color: $color-third;
            i{
                color: $color-primary;
            }
        }
    }
    .item-create-menu{
        border-radius: 4px;
        background-color: #cc322f;
        padding: 10px;
        a,i:before{
            color: $color-second;
        }
        &:hover {
            a,i:before{
                color: $color-second;
            }
        }
        .nuxt-link-exact-active{
            color: $color-second;
        }
        .menu-link {
            font-size: 15px;
        }
        .icon-site {
            font-size: 16px;
            margin-right: 0px;
        }
    }
    .menu-link{
        color: $color-primary;
        font-family: $font-primary;
        font-size: 16px;
    }
    .icon-site{
        font-size: 19px;
        margin-right: 6px;
    }
}
.page-container{
    height: 100%;
    min-height: calc(100vh - 61px);
    padding: 35px 40px;
    .chart-box{
        height: 100%;
        padding-bottom: 30px;
    }
}
.group-search{
    position: relative;
    // margin-right: 64px;
    .input-search{
        color: #989898;
        font-size: $font-size-big;
        border-bottom: 1px solid #212c3a;
        margin-bottom: 0;
        padding-right: 20px;
        &::placeholder{
            color: #989898;
        }
    }
    .fa-search{
        color: #7e7e7e;
        font-size: 16px;
        position: absolute;
        right: 0;
        bottom: 10px;
    }
}
.dropdown-head{
    display: inline-block;
    margin-right: 16px;
    margin-left: 3px;
    vertical-align: 2px;
    .dropdown-toggle{
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
        &::after{
            display: none;
        }
    }
}
.text-error{
    font-size: 10px;
    font-family: $font-primary;
    font-style: italic;
}
.text-success{
    font-size: 10px;
    font-family: $font-primary;
    font-style: italic;
    color: $green;
}
.page-footer{
    color: #8a8a8a;
    margin: 31px 0;
    position: absolute;
    bottom: 10px;
    .txt-link{
        color: #8a8a8a;
    }
}
.user-name{
    color: #7b7b7b;
    font-size: $font-size-big;
    display: inline-block;
    margin-left: 4px;
}
.notify-message{
    height: 6px;
    width: 6px;
    background: red;
    color: #fff;
    font-size: 9px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 0;
}
.img-avatar{
    width: 38px;
    height: 38px;
    position: relative;
    @include border-radius(50%);
    margin-right: 15px;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.13);  
}
.message-default{
    padding: 55px 80px;
    img{
        max-width: 100px;
    }
    .description{
        font-size: 15px;
        margin-top: 10px;
        line-height: 25px;
    }
}
.page-container{
    .page-header{
        align-items: center;
        justify-content: space-between;
        margin-bottom: 22px;
        h4, .input-title{
            color: #000000;
            font-family: $font-sixth;
            font-size: 25px;
            font-weight: 300;
            display: inline-block;
            position: relative;
            background-color: transparent;
            outline: none;
            border: 0;
        }
        .input-title {
            font-size: 20px;
        }
    }
}
.form-search{
    position: relative;
    .search-input{
        width: 220px;
        border-radius: 4px;
        border: 1px solid #e0e0e0;
        background-color: transparent;
        color: $color-primary;
        font-family: $font-primary;
        font-size: 15px;
        padding: 10px 15px 10px 52px;
        margin: 0;
        background-color: #ffffff;
        height: 100%;
    }
    .icon-search{
        position: absolute;
        font-size: 18px;
        color: rgba(54, 55, 64, 0.5);
        top: 50%;
        left: 18px;
        transform: translateY(-50%);
    }
}
.btn-close{
    background-color: #fff;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 10;
    cursor: pointer;
    &.border-black{
        border: 1px solid $black;
    }
    img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
.paginate {
    margin-top: 20px;
    ul {
        padding-left: 0;
        margin-bottom: 0;
        li {
            display: inline-block;
            width: 36px;
            height: 36px;
            a {
                box-sizing: border-box;
                display: inline-block;
                min-width: 1.5em;
                // padding: 9.5px 15px;
                margin-left: -1px;
                text-align: center;
                text-decoration: none !important;
                cursor: pointer;
                background-color: #fff;
                color: #969c9c;
                border: 1px solid #e5e6e6;
                border-left: 0px;
                line-height: 36px;
                width: 36px;
                height: 36px;
            }
            &:first-child{
                a{
                    border-left: 1px solid #e5e6e6;
                } 
            }
            &:hover a{
                background-color: #f9f9f9;
                color: #888b94;
            }
            &.active a {
                color: $color-primary;
            }
            &.disabled a{
                cursor:not-allowed;
                background-color: #ffffff61;
            }
        }
    }
}
