a{
    font-family: $font-primary;
    color: $color-third;
    cursor: pointer;
    &:hover{
        color: initial;
        text-decoration: none;
    }
}
ul{
    padding-left: 0;
    li{
        list-style: none;
    }
}
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ffffff;
}
::-webkit-scrollbar
{
    width: 3px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb
{
    background-color: #9999997a;
    border-radius: 10px;
    border: 1px solid #9999997a;
}

.i-con{
    color: #000;
    display: inline-block;
}

.row-8{
    margin: 0 -8px;
    .col-style{
        padding: 0 8px;
    }
}

.row-4{
    margin: 0 -4px;
    .col-style{
        padding: 0 4px;
    }
}

input[type=text], input[type=password]{
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    margin-bottom: 8px;
    height: 40px;
    &::placeholder{
        color: #e0e0e0;
    }
    &.border-grey{
        border-bottom: 1px solid #dddddd;
    }
    &.border-gradient{
        color: rgba($color-sixth, 0.8);
        border-image-source: linear-gradient(135deg, #0e49c1 0%, #1390e0 100%);
        border-bottom: 1px solid;
        border-image-slice: 1;
        &::placeholder{
            color: rgba($color-sixth, 0.5);
        }
    }
}

.btn-normal{
    min-width: 96px;
    @include border-radius(4px);
    background-image: linear-gradient(135deg, #0073dd 0%, #4ab9b7 100%);
    color: #ffffff;
    font-size: $font-size-normal;
    font-family: $font-third;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 8px;
}

.main-content{
    height: 100vh;
    overflow: hidden;
    font-family: $font-primary;
    font-size: $font-size-normal;
    background-color: $color-second;
    .col-left{
        float: left;
        height: 100%;
        width: 190px;
    }
    .col-right{
        overflow-y: auto;
        height:100%;
        // padding: 48px 40px;
        width: calc(100% - 190px);
        // transition: 0.4s linear;
        background-color: #f0f2f5;
        &::-webkit-scrollbar-track{
            background-color: $color-third;
        }
        &.collapsed{
            // width: calc(100% - 608px);
            &.show{
                // width: calc(100% - 856px);
            }
        }
    }
}
.content-menu{
    height: 100%;
    width: 100%;
    padding: 0 20px;
    .logo {
        margin: 5px 0 40px;
    }
}
.menu-left{
    .item-menu{
        padding: 10px 0;
        &:not(:last-child){
            margin-bottom: 12px;
        }
    }
    .menu-link{
        color: $color-primary;
        font-family: $font-primary;
        font-size: 16px;
    }
    .icon-site{
        font-size: 17px;
        margin-right: 12px;
    }
}
.page-container{
    height: 100%;
    min-height: calc(100vh - 61px);
    padding: 35px 40px;
    .chart-box{
        height: 100%;
        padding-bottom: 30px;
    }
}
.group-search{
    position: relative;
    // margin-right: 64px;
    .input-search{
        color: #989898;
        font-size: $font-size-big;
        border-bottom: 1px solid #212c3a;
        margin-bottom: 0;
        padding-right: 20px;
        &::placeholder{
            color: #989898;
        }
    }
    .fa-search{
        color: #7e7e7e;
        font-size: 16px;
        position: absolute;
        right: 0;
        bottom: 10px;
    }
}
.dropdown-head{
    display: inline-block;
    margin-right: 16px;
    margin-left: 3px;
    vertical-align: 2px;
    .dropdown-toggle{
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
        &::after{
            display: none;
        }
    }
}
.text-error{
    font-size: 12px;
    font-family: $font-primary;
}
.page-footer{
    color: #8a8a8a;
    margin: 31px 0;
    position: absolute;
    bottom: 10px;
    .txt-link{
        color: #8a8a8a;
    }
}
.user-name{
    color: #7b7b7b;
    font-size: $font-size-big;
    display: inline-block;
    margin-left: 4px;
}
.notify-message{
    height: 6px;
    width: 6px;
    background: red;
    color: #fff;
    font-size: 9px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 0;
}
.img-avatar{
    width: 38px;
    height: 38px;
    position: relative;
    @include border-radius(50%);
    margin-right: 15px;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.13);  
}
.message-default{
    padding: 55px 80px;
    img{
        max-width: 100px;
    }
    .description{
        font-size: 15px;
        margin-top: 10px;
        line-height: 25px;
    }
}