// Import Font
@font-face {
    font-family: "RobotoLight";
    src: url("/fonts/Roboto-Light/Roboto-Light.eot");
    src: url("/fonts/Roboto-Light/Roboto-Light.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/Roboto-Light/Roboto-Light.woff2") format("woff2"),
        url("/fonts/Roboto-Light/Roboto-Light.woff") format("woff"),
        url("/fonts/Roboto-Light/Roboto-Light.ttf") format("truetype"),
        url("/fonts/Roboto-Light/Roboto-Light.svg#Roboto-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "RobotoMedium";
    src: url("/fonts/Roboto-Medium/Roboto-Medium.eot");
    src: url("/fonts/Roboto-Medium/Roboto-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/Roboto-Medium/Roboto-Medium.woff2") format("woff2"),
        url("/fonts/Roboto-Medium/Roboto-Medium.woff") format("woff"),
        url("/fonts/Roboto-Medium/Roboto-Medium.ttf") format("truetype"),
        url("/fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium")
            format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "RobotoRegular";
    src: url("/fonts/Roboto-Regular/Roboto-Regular.eot");
    src: url("/fonts/Roboto-Regular/Roboto-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2"),
        url("/fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"),
        url("/fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"),
        url("/fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular")
            format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GilroyBold";
    src: url("/fonts/Gilroy-Bold/Gilroy-Bold.eot");
    src: url("/fonts/Gilroy-Bold/Gilroy-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/Gilroy-Bold/Gilroy-Bold.woff2") format("woff2"),
        url("/fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff"),
        url("/fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype"),
        url("/fonts/Gilroy-Bold/Gilroy-Bold.svg#Gilroy-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "GilroyMedium";
    src: url("/fonts/Gilroy-Medium/Gilroy-Medium.eot");
    src: url("/fonts/Gilroy-Medium/Gilroy-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/Gilroy-Medium/Gilroy-Medium.woff2") format("woff2"),
        url("/fonts/Gilroy-Medium/Gilroy-Medium.woff") format("woff"),
        url("/fonts/Gilroy-Medium/Gilroy-Medium.ttf") format("truetype"),
        url("/fonts/Gilroy-Medium/Gilroy-Medium.svg#Gilroy-Medium")
            format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "GilroyRegular";
    src: url("/fonts/Gilroy-Regular/Gilroy-Regular.eot");
    src: url("/fonts/Gilroy-Regular/Gilroy-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("/fonts/Gilroy-Regular/Gilroy-Regular.woff2") format("woff2"),
        url("/fonts/Gilroy-Regular/Gilroy-Regular.woff") format("woff"),
        url("/fonts/Gilroy-Regular/Gilroy-Regular.ttf") format("truetype"),
        url("/fonts/Gilroy-Regular/Gilroy-Regular.svg#Gilroy-Regular")
            format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "icomoon-01";
    src: url("/fonts/icomoon.eot?15zyaq");
    src: url("/fonts/icomoon.eot?15zyaq#iefix") format("embedded-opentype"),
        url("/fonts/icomoon.ttf?15zyaq") format("truetype"),
        url("/fonts/icomoon.woff?15zyaq") format("woff"),
        url("/fonts/icomoon.svg?15zyaq#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon-02';
    src:  url('/fonts/Icomoon/icomoon.eot?39l367');
    src:  url('/fonts/Icomoon/icomoon.eot?39l367#iefix') format('embedded-opentype'), url('/fonts/Icomoon/icomoon.ttf?39l367') format('truetype'), url('/fonts/Icomoon/icomoon.woff?39l367') format('woff'), url('/fonts/Icomoon/icomoon.svg?39l367#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon-01" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon02-"],
[class*=" icon02-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon-02" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
    content: "\e920";
}
.icon-plus:before {
    content: "\e91f";
}
.icon-undo:before {
    content: "\e90b";
}
.icon-next:before {
    content: "\e90c";
}
.icon-layout-down:before {
    content: "\e90d";
}
.icon-layout-up:before {
    content: "\e90e";
}
.icon-trash-fill:before {
    content: "\e90f";
}
.icon-youtube:before {
    content: "\e910";
}
.icon-twitter:before {
    content: "\e911";
}
.icon-sand-watch:before {
    content: "\e912";
}
.icon-shapes:before {
    content: "\e913";
}
.icon-play-button:before {
    content: "\e914";
}
.icon-text-type:before {
    content: "\e915";
}
.icon-internet:before {
    content: "\e916";
}
.icon-facebook:before {
    content: "\e917";
}
.icon-rss:before {
    content: "\e918";
}
.icon-cloudy:before {
    content: "\e919";
}
.icon-wall-clock:before {
    content: "\e91a";
}
.icon-text-block:before {
    content: "\e91b";
}
.icon-gallery:before {
    content: "\e91c";
}
.icon-picture:before {
    content: "\e91d";
}
.icon-text:before {
    content: "\e91e";
}
.icon-play:before {
    content: "\e906";
}
.icon-trash:before {
    content: "\e907";
}
.icon-search:before {
    content: "\e908";
}
.icon-creative:before {
    content: "\e900";
}
.icon-media:before {
    content: "\e901";
}
.icon-my-board:before {
    content: "\e902";
}
.icon-play-lists:before {
    content: "\e903";
}
.icon-screen:before {
    content: "\e904";
}
.icon-templates:before {
    content: "\e905";
}
.icon-celandar:before {
    content: "\e909";
}
.icon-sizes:before {
    content: "\e90a";
}
.icon02-align-left:before {
    content: "\e900";
}
.icon02-align-center:before {
    content: "\e901";
}
.icon02-align-right:before {
    content: "\e902";
}
.icon02-align-justify:before {
    content: "\e903";
}
.icon02-align-middle:before {
    content: "\e904";
}
.icon02-device-design:before {
    content: "\e905";
}
.icon02-align-top:before {
    content: "\e906";
}
.icon02-align-bottom:before {
    content: "\e907";
}
.icon02-back:before {
    content: "\e908";
}
.icon02-arr-topbot:before {
    content: "\e909";
}
.icon02-upgrade:before {
    content: "\e90a";
    color: #000;
}
.icon02-arrow-2:before {
    content: "\e90b";
}
.icon02-arrow-1:before {
    content: "\e90c";
}
.icon02-device-mobix:before {
    content: "\e90d";
}
.icon02-device-mobiy:before {
    content: "\e90e";
}
.icon02-device-tablet:before {
    content: "\e90f";
}
.icon02-device-laptop:before {
    content: "\e910";
}
.icon02-mobile-rotate:before {
    content: "\e911";
    color: #4a4a4a;
}
.icon02-mobile:before {
    content: "\e912";
}
.icon02-tablet:before {
    content: "\e913";
    color: #4a4a4a;
}
.icon02-global:before {
    content: "\e914";
}
.icon02-remove:before {
  content: "\e915";
}
.icon02-edit:before {
    content: "\e916";
}
.icon02-view:before {
    content: "\e917";
}
.icon02-contact-list:before {
    content: "\e918";
}
.icon02-dashboard:before {
    content: "\e919";
}
.icon02-search:before {
    content: "\e91a";
}
.icon02-settings:before {
    content: "\e91b";
}
.icon02-campaign:before {
    content: "\e91c";
}
.icon02-client:before {
    content: "\e91d";
}
.icon02-date:before {
    content: "\e91e";
}
.icon02-logout:before {
    content: "\e91f";
}
.icon02-media:before {
    content: "\e920";
}
.icon02-landing:before {
    content: "\e921";
}
.icon02-client-management:before {
    content: "\e922";
}

// Color
$black: #000000;
$black-light: #0f0f0f;
$white: #ffffff;
$red: #cc322f;
$gray-light: #f0f2f5;
$gray: #8b8b8b;
$gray-dark: #5c6069;
$gray-darker: #16191c;
$blue-light: #e9ecff;
$blue: #1c5df4;
$blue-lighter: #49b3af;
$blue-dark: #3d83e1;
$blue-darker: #253752;
$green: #2adf80;
$green-darker: #00caa3;
$yellow: #fdd130;
$black-main: #363740;

// Font
$font-size-smallest: 7px;
$font-size-smaller: 9px;
$font-size-small: 10px;
$font-size-normal: 12px;
$font-size-primary: 13px;
$font-size-big: 14px;
$font-size-bigger: 15px;
$font-size-biggest: 32px;

// h1
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
.pd-0 {
    padding: 0 !important;
}
.pdr-5 {
    padding-right: 5px !important;
}
.pdl-5 {
    padding-left: 5px !important;
}
.pdr-15 {
    padding-right: 15px !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.mt-45 {
    margin-top: 45px !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-6 {
    margin-bottom: 6px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.w50 {
    width: 50px;
    display: inline-block;
    flex: initial;
}

$size-list: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70);
$size-num: (0px, 5px, 10px, 15px, 20px, 25px, 30px, 35px, 40px, 45px, 50px, 55px, 60px, 65px, 70px);

@for $i from 1 through length($size-list) {
  .p-#{nth($size-list, $i)} {
    padding: nth($size-num, $i);
  }

  .p-l-#{nth($size-list, $i)} {
    padding-left: nth($size-num, $i);
  }

  .p-r-#{nth($size-list, $i)} {
    padding-right: nth($size-num, $i);
  }

  .p-lr-#{nth($size-list, $i)} {
    padding-left: nth($size-num, $i);
    padding-right: nth($size-num, $i);
  }

  .p-t-#{nth($size-list, $i)} {
    padding-top: nth($size-num, $i);
  }

  .p-b-#{nth($size-list, $i)} {
    padding-bottom: nth($size-num, $i);
  }

  .p-tb-#{nth($size-list, $i)} {
    padding-top: nth($size-num, $i);
    padding-bottom: nth($size-num, $i);
  }

  .m-#{nth($size-list, $i)} {
    margin: nth($size-num, $i);
  }

  .m-l-#{nth($size-list, $i)} {
    margin-left: nth($size-num, $i);
  }

  .m-r-#{nth($size-list, $i)} {
    margin-right: nth($size-num, $i);
  }

  .m-lr-#{nth($size-list, $i)} {
    margin-left: nth($size-num, $i);
    margin-right: nth($size-num, $i);
  }

  .m-t-#{nth($size-list, $i)} {
    margin-top: nth($size-num, $i);
  }

  .m-b-#{nth($size-list, $i)} {
    margin-bottom: nth($size-num, $i);
  }

  .m-tb-#{nth($size-list, $i)} {
    margin-top: nth($size-num, $i);
    margin-bottom: nth($size-num, $i);
  }
}

.m-t-none {
    margin-top: 0 !important;
  }
  
  .m-r-none {
    margin-right: 0 !important;
  }
  
  .m-b-none {
    margin-bottom: 0 !important;
  }
  
  .m-l-none {
    margin-left: 0 !important;
  }
  
  .m-lr-none {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .m-tb-none {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  
  .m-none {
    margin: 0 !important;
  }
  
  .p-t-none {
    padding-top: 0 !important;
  }
  
  .p-r-none {
    padding-right: 0 !important;
  }
  
  .p-b-none {
    padding-bottom: 0 !important;
  }
  
  .p-l-none {
    padding-left: 0 !important;
  }
  
  .p-lr-none {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  .p-tb-none {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .p-none {
    padding: 0 !important;
  }