
.content-banner{
    height: 100%;
    .container-info{
        font-family: $font-fourth;
        color: #ffffff;
        font-size: 14px;
        line-height: 22px;
        .row-info:not(:last-child){
            margin-bottom: 48px;
        }
        h4{
            font-family: $font-third;
            color: #ffffff;
            font-size: 14px;
            line-height: 22px;
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 15px;
            &:after{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 27px;
                height: 2px;
                background-color: $color-second;
            }
        }
    }
}