.content-login{
    max-width: 665px;
    width: 100%;
    margin: 107px auto 0;
    padding: 0 15px;
    .container-title{
        h3{
            color: $color-third;
            font-family: $font-primary;
            font-size: 20px;
            margin-bottom: 10px;
        }
        h2{
            color: $color-primary;
            font-family: $font-second;
            font-size: 46px;
            margin-bottom: 65px;
        }
    }
    .container-form{
        margin: 0 -15px;
        .box-input{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 15px;
        }
        .box-submit{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 15px;
        }
        label{
            color: rgba(54, 55, 64, 0.3);
            font-family: $font-primary;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            display: block;
        }
        input{
            color: #363740;
            font-family: $font-second;
            font-size: 14px;
            line-height: 22px;
            padding: 8px 18px;
            border: 1px solid rgba(185, 196, 213, 0.44);
            border-radius: 3px;
            background-color: $color-second;
            width: 100%;
            margin-bottom: 0;
            &.error{
                border-color: $color-third;
            }
            &:focus{
                outline: 0;
                border-color: $color-primary;
            }
        }
        .box-error{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 15px;
            height: 28px;
            padding-top: 10px;
            .text-error{
                line-height: 18px;
                margin-bottom: 0;
            }
        }
        .btn-submit{
            color: $color-second;
            font-family: $font-second;
            font-size: 12px;
            letter-spacing: 2px;
            text-transform: uppercase;
            border-radius: 3px;
            border: 0;
            box-shadow: none;
            padding: 12px 40px;
            background-color: $color-third;
            margin-right: 25px;
            &:focus{
                outline: 0;
            }
        }
        .btn-fogot{
            color: $color-primary;
            font-family: $font-second;
            font-size: 14px;
            line-height: 21px;
            text-decoration: underline;
        }
    }
}