.login-page{
    height: 100vh;
    .banner-left{
        background-image: url('/images/bg-login.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 500px;
        padding: 63px 130px 73px 70px;
        color: $color-second;
    }
    .container-info{
        font-family: $font-fourth;
        color: #ffffff;
        font-size: 14px;
        line-height: 22px;
        .row-info:not(:last-child){
            margin-bottom: 48px;
        }
        h4{
            font-family: $font-third;
            color: #ffffff;
            font-size: 14px;
            line-height: 22px;
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 15px;
            &:after{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 27px;
                height: 2px;
                background-color: $color-second;
            }
        }
    }
    .content-right{
        width: calc(100% - 500px);
        .wrapper-content{
            max-width: 665px;
            width: 100%;
            margin: 107px auto 0;
            padding: 0 15px;
        }
        .container-title{
            h3{
                color: $color-third;
                font-family: $font-primary;
                font-size: 20px;
                margin-bottom: 10px;
            }
            h2{
                color: $color-primary;
                font-family: $font-second;
                font-size: 46px;
                margin-bottom: 65px;
            }
        }
        .container-form{
            .box-input{
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                padding: 0 15px;
            }
            .box-submit{
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                padding: 0 15px;
                margin-top: 28px;
            }
            label{
                color: rgba(54, 55, 64, 0.3);
                font-family: $font-primary;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 0.5px;
                text-transform: uppercase;
            }
            input{
                color: #363740;
                font-family: $font-second;
                font-size: 14px;
                line-height: 22px;
                padding: 8px 18px;
                border: 1px solid rgba(185, 196, 213, 0.44);
                border-radius: 3px;
                background-color: $color-second;
            }
            .text-error{
                margin-bottom: 0;
            }
            .btn-submit{
                color: $color-second;
                font-family: $font-second;
                font-size: 12px;
                letter-spacing: 2px;
                text-transform: uppercase;
                border-radius: 3px;
                border: 0;
                box-shadow: none;
                padding: 12px 40px;
                background-color: $color-third;
                margin-right: 25px;
            }
            .btn-fogot{
                color: $color-primary;
                font-family: $font-second;
                font-size: 14px;
                line-height: 21px;
                text-decoration: underline;
            }
        }
    }
}