.container-media{
    .item-g{
        background-color: #ffffff;
        border-radius: 7px;
        margin-bottom: 30px;
    }
    .add-media{
        height: calc(100% - 30px);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .btn-add-media{
            width: 60px;
            height: 60px;
            border-radius: 8px;
            border: 1px solid #ededed;
            background-color: #ffffff;
            margin-bottom: 31px;
            .icon-site{
                font-size: 30px;
                color: $color-third;
            }
            &:focus{
                outline: 0;
            }
        }
        p{
            font-size: 14px;
        }
    }
}
.g-thumbnail{
    position: relative;
    .g-view{
        img{
            width: 100%;
            border-radius: 7px 7px 0 0;
        }
    }
    .g-action{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 7px 7px 0 0;
        background-color: rgba(54, 55, 64, 0.84);
        justify-content: center;
        align-items: center;
        visibility: hidden;
        .btn-link{
            width: 36px;
            height: 36px;
            border-radius: 6px;
            background-color: $color-second;
            margin: 0 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                .icon-site:before{
                    color: $color-third;
                }
            }
        }
        .icon-site{
            font-size: 16px;
            color: $color-primary;
        }
    }
    &:hover{
        .g-action{
            visibility: visible;
        }
    }
}
.g-info{
    padding: 8px 16px 10px;
    .g-name{
        color: $color-primary;
        font-family: $font-second;
        font-size: 15px;
        margin-bottom: 8px;
    }
    .g-detail{
        justify-content: space-between;
        color: #9a9b9f;
        font-size: 15px;
        i:before{
            color: $color-third;
        }
    }
}