.page-playlists{
    .btn-new-plist{
        color: $color-primary;
        font-size: 14px;
        display: flex;
        padding: 9px 18px;
        background-color: $color-second;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        margin-left: 12px;
        .icon-site{
            font-size: 20px;
            margin-right: 6px;
        }
        .icon-site:before{
            color: $color-third;
        }
    }
    .form-input {
        height: 40px;
    }
    textarea {       
        &.form-input {
            height: 70px;
        }
    }
    
}
.block-playlist{
    background-color: $color-second;
    border-radius: 10px;
    margin-bottom: 30px;
    .playlist-thumbnail{
        padding: 16px 9px 0;
        position: relative;
        .box-img{
            padding: 0 8px;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
            border-radius: 7px 7px 0 0;
            height: 100px;
            overflow: hidden;
        }
    }
    .playlist-thumbnail:hover{
        .playlist-action{
            visibility: visible;
        }
    }
    .thumbnail-more{
        position: absolute;
        padding: 0 18px;
        top: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        font-size: 15px;
        font-family: $font-second;
        color: $color-second;
        border-radius: 0 7px 0 0;
        background-color: rgba(54, 55, 64, 0.4);
    }
    .playlist-action{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        border-radius: 7px 7px 0 0;
        background-color: rgba(54, 55, 64, 0.84);
        justify-content: center;
        align-items: center;
        visibility: hidden;
        .btn-link{
            width: 36px;
            height: 36px;
            border-radius: 6px;
            background-color: $color-second;
            margin: 0 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon-site{
                font-size: 16px;
                color: $color-primary;
            }
            &:hover{
                .icon-site:before{
                    color: $color-third;
                }
            }
        }
    }
    .playlist-info{
        padding: 8px 16px 10px;
        .playlist-name{
            color: $color-primary;
            font-family: $font-second;
            font-size: 15px;
            margin-bottom: 8px;
        }
        .playlist-infor-more{
            justify-content: space-between;
            color: #9a9b9f;
            font-size: 15px;
            .play-time{
                margin-right: 20px;
            }
            .total span,
            .icon-site:before{
                color: $color-third;
            }
            .total span{
                font-family: $font-second;
            }
        }
    }
}

.screen-list {
    height: 300px;
    overflow-x: hidden;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 3px;
    &::-webkit-scrollbar-track
    {
        box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
        background-color: #ffffff;
    }
    &::-webkit-scrollbar
    {
        width: 2px;
        background-color: #ffffff;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: #9999997a;
        border-radius: 10px;
        border: 1px solid #9999997a;
    }
    .screen-item {
        width: 100%;
        border: 1px solid #eee;
        margin-bottom: 10px;
        border-radius: 3px;
        padding: 10px;
        cursor: pointer;
        .icon-site {
            font-size: 10px;
        }
        .preview-img {
            height: 80px;
        }
        .template-name {
            font-size: 12px;
        }
        .temp-infor-more span {
            font-size: 12px;
        }
        .template-info {
            padding: 0;
        }
        .block-template {
            margin: 0;
        }
        .template-thumbnail {
            margin-bottom: 10px;
        }
        .input-time {
            width: 60px;
            height: 22px;
            border: 1px solid #ddd;
            margin-top: 10px;
            font-size: 12px;
            padding: 8px;
            text-align: center;
            border-radius: 3px;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button {  
        opacity: 1;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}