.content-profile{
    overflow-x: hidden;
    width: 100%;
    padding: 0 15px;
    .container-title{
        h3{
            color: $color-third;
            font-family: $font-primary;
            font-size: 20px;
            margin-bottom: 10px;
        }
        h2{
            color: $color-primary;
            font-family: $font-second;
            font-size: 46px;
            margin-bottom: 10px;
        }
        p{
            color: $color-primary;
            font-family: $font-second;
            font-size: 15px;
            font-style: italic;
            margin-bottom: 42px;
        }
    }
    .container-form{
        margin: 0 -15px;
        .box-input{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 15px;
            &:not(.box-input-pass){
                margin-bottom: 28px;    
            }
            .requied{
                color: #e6173e;
                &.remove{
                    display: none;
                }
              }
        }
        .box-error{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 12px 15px 0;
            height: 30px;
            .text-error{
                line-height: 18px;
                margin-bottom: 0;
                margin-top: -20px;
            }
        }
        .box-submit{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 15px;
        }
        label{
            color: rgba(54, 55, 64, 0.3);
            font-family: $font-primary;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            display: block;
        }
        input{
            color: #363740;
            font-family: $font-second;
            font-size: 14px;
            line-height: 22px;
            padding: 8px 18px;
            border: 1px solid rgba(185, 196, 213, 0.44);
            border-radius: 3px;
            background-color: $color-second;
            margin: 0;
            width: 100%;
            &.error{
                border-color: $color-third;
            }
            &:focus{
                outline: 0;
                border-color: $color-primary;
            }
        }
        .text-error{
            margin-bottom: 0;
        }
        .btn-submit{
            color: $color-second;
            font-family: $font-second;
            font-size: 12px;
            letter-spacing: 2px;
            text-transform: uppercase;
            border-radius: 3px;
            border: 0;
            box-shadow: none;
            padding: 12px 40px;
            background-color: $color-third;
            margin-right: 25px;
            &:focus{
                outline: 0;
            }
        }
        .have-account{
            display: inline-block;
            color: $color-primary;
            font-family: $font-second;
            font-size: 14px;
            line-height: 21px;
        }
        .btn-to-signin{
            color: $color-primary;
            text-decoration: underline;
            font-family: $font-second;
        }
    }
}

.avatar-wrapper{
	position: relative;
	height: 200px;
	width: 200px;
	margin: 50px auto;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 1px 1px 15px -5px black;
	transition: all .3s ease;
	&:hover{
		transform: scale(1.05);
		cursor: pointer;
	}
	&:hover .profile-pic{
		opacity: .5;
	}
	.profile-pic {
        height: 100%;
        object-fit: cover;
		width: 100%;
		transition: all .3s ease;
		&:after{
			font-family: FontAwesome;
			content: "\f007";
			top: 0; left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			font-size: 190px;
			background: #ecf0f1;
			color: #34495e;
			text-align: center;
		}
	}
	.upload-button {
		position: absolute;
		top: 0; left: 0;
		height: 100%;
		width: 100%;
		.fa-arrow-circle-up{
			position: absolute;
			font-size: 234px;
			top: -17px;
			left: 0;
			text-align: center;
			opacity: 0;
			transition: all .3s ease;
			color: #34495e;
		}
		&:hover .fa-arrow-circle-up{
			opacity: .9;
		}
    }
}
.avatar-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.content-profile{
    margin-top: 120px;
    .container-title{
        h3{
            text-align: center;
            color: #cc322f;
            font-family: "RobotoRegular";
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}
.fa-arrow-circle-up:before {
    content: "\f0aa";
    cursor: pointer;
}
.submit-profile{
    color: #ffffff;
    font-family: "RobotoMedium";
    font-size: 12px; 
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 3px;
    border: 0;
    box-shadow: none;
    padding: 12px 40px;
    background-color: #cc322f;
    margin-left: -17px;
    margin-top: -12px;
}