.page-screens{
    .template-thumbnail:hover{
        .template-action{
            visibility: visible;
        }
    }
    
}
.preview-img {
    width: 100%; 
    height: 150px;
    z-index: 1;
    .template-body {
        height: 100%;
        position: relative;
    }
}
#popupReview {
    .modal-dialog {
        max-width: 900px;
        font-size: 9.25px;
        overflow: hidden;
    }
    .template-body {
        height: 500px;
    }
}
#popupPurchase {
    .modal-dialog {
        max-width: 900px;
        font-size: 9.25px;
        overflow: hidden;
    }
    .template-body {
        height: 500px;
    }
}