.page-screens{
    .template-thumbnail:hover{
        .template-action{
            visibility: visible;
        }
    }
    .preview-img {
        width: 100%; 
        height: 150px;
        .template-body {
            height: 100%;
        }
    }
}